@font-face {
  font-family: VALORANT;
  src: url(Valorant\ Font.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'VALORANT', 'Courier New', Courier, monospace;
  background: rgb(255, 68, 84);
  text-align: center;
  padding-top: 8%;
}

.page-wrapper {
  position: relative;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #101822;
  border-bottom: 2px solid #000;
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}

#header-img {
  height: 100px;
  border-radius: 5%;
}

@media (max-width: 600px) {
  #header-img {
    height: 75px;
  }
}

nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: x-large;
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li {
  list-style-type: none;
}

.nav-link {
  color: white;
  text-decoration: none;
}

@media (max-width: 750px) {
  .nav-link {
    font-size: 1rem;;
  }
}

.resp-container {
  margin: 0 auto;
  max-width:100%;
  width:500px;
  height:300px;
  border: 3px solid #000;
  border-radius: 2px;
}

@media only screen and (max-width: 992px) {
	.resp-container{
		width: 80%;
		height:400px;
	}
}

@media only screen and (max-width: 600px) {
  .resp-container{
   width: 100%;
   height:500px;
 }
}

p {
  margin: auto;
  width: 50%;
  padding-bottom: 1rem;
}

#our-services {
  margin-top: 2%;
  margin-bottom: 2%;
}

#pricing {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 6);
  margin: 10px;
  border: 3px solid #000;
  border-radius: 2px;
  background: #101822;
}

@media (max-width: 600px) {
  .product {
    width: calc(100% / 3);
  }
}

.product > .product-header {
  color: white;
  padding: 15px 0;
  width: 100%;
  font-size: 1.5rem;
}

@media (max-width: 1000px) {
  .product > .product-header {
    font-size: 15px;
  }
}

.product > img {
  margin: 10px;
  width: calc(100% / 3);
}

.product > h1 {
  margin: 10px;
  color: white;
}

.product > button {
  font-family: 'VALORANT', 'Courier New', Courier, monospace;;
  padding: 5px;
  margin: 9px;
}

.product > button:hover {
  background-color: grey;
  transition: 1s;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

form > #email {
  margin: 5px;
  border: 1px solid #000;
  font-family: 'Valorant','Courier New', Courier, monospace;
  max-width: 275px;
  width: 100%;
  padding: 5px;
  border: 1px solid #000;
}

form > #submit {
  margin: 5px;
  padding: 5px;
  font-family: 'Valorant','Courier New', Courier, monospace;
  border: 1px solid #000;
  background: white;
}

form > #submit:hover {
  background: grey;
  transition: 1s;
}

footer {
  margin-top: 100px;
  padding: 35px;
  margin-left: 20%;
  margin-right: 20%;
  background: #101822;
  border: 2px solid #000;
  border-radius: 2px;
}

@media (max-width: 650px) {
  footer {
    font-size: 10px
  }
} 

footer > ul > li {
  padding: 0 10px;
  text-decoration: none;
}

footer > ul > li > a {
  text-decoration: none;
  color: white;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  color: white;
}